.calculation-card {
    margin-top: 20px;
    min-height: 250px;
}

.historical-card {
    margin-top: 20px;
    min-height: 250px;
    margin-bottom: 20px;
}

::ng-deep .mat-subheader {
    padding: 0px 16px 30px 16px!important;
}

::ng-deep .mat-card-header-text {
    margin: 0!important;
}
